/* .dark-theme-nav{
    background-color: #151E21;
    color: #7DDFEE;
}

.dark-theme-todo{
    background-color: #121212;
    color: #7DDFEE;
}

.dark-theme-select-todo{
    background-color: #151E21;
    color: #7DDFEE;
}

.dark-theme-task{
    background-color: #151E21;
    color: #7DDFEE;
}
 */